@font-face {
    font-family: "Racing Sans One";
    src: url("../fonts/RacingSansOne-Regular.ttf") format("truetype");
}



body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0px;
}

main {
    width: 100%;
}

.quote {
    font-family: "Racing Sans One";
    font-size: 2.5em;
}


nav {
    display: none;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;
}


nav ul {
    padding: 0px;
    background-color: #259DB7;
}

nav ul li {
    text-align: left;
    padding: 0px;
}

    
nav ul a {
        text-decoration: none;
    }
  
.active {
        text-decoration: underline;
    } 
    
.header_image {
        background-image: url("../images/background/homepage4-1.png");
        background-size: 100%;
        background-position: fixed;
        background-repeat: no-repeat;
        height:80vh;
        width: 100%;
        margin-top: 30px;
        }

.logo_home { 
        display: block;
        height: 30vh;
        width: 80%;
        padding: 20px;
        margin: 50px;
        }

header div {
    display: flex;
    justify-content: center;
}


    
.logo {
    height: 10vh;
    margin: 0px auto;
    padding: 0px auto;
    width: auto;
     }

.first_display {
    display: flex;
    justify-content: space-around;
    padding: 20px;

     }

.first_display h1 {
    font-size: 2em;
    font-weight: 50;
}

.first_display img {
    height: 30vh;
    width: auto;
}

.second_display {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.second_display img {
    height: 30vh;
    width: auto;
}

.second_display h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 50;
    padding: 0px 20px;
}


.footer_mobile { 
    background-color: #259DB7;
    display: flex;
}

.logo_footer {
    height: 10vh;
    width: auto;
    margin: 10px;
}

.footer_mobile img {
    height: 8vh;
    padding: 2px 20px;
    margin: 5px;
    display: flex;
}



.footer_desktop {
    display: none;
}



.nav_around {
        display: flex;
        max-width: 100%;
        justify-content: stretch;
        padding: 0px;
       
    }

  
   
/* Buttons */

    .cta_button { 
        background-color: #259DB7;
        border-radius: 15px;
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        border: none;
        padding: 10px 30px;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
    
#shopnow {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif ;
    border: none;
    padding: 10px 20px;
    margin: auto;
 }
 
.cart {
    margin: auto;
    padding: 10px;
}

.send {
    padding: 10px 30px;
    font-size: 1em;
}

.payment {
    padding: 10px 30px;
    font-size: 1em;
}

body a {
    color: #000000;
}

button a {
    text-decoration: none;
    color: #fff;
}
  
 #submit {
        padding: 10px 40px;
        border: none;
        border-radius: 15px;
        margin: 0px 10px 0px 160px;
        font-size: 1em ;
        font-family: "Raleway";
    }
    
    #newsletter__email {
        width: 350px;
        height: 40px;
        font-size: 0.8em;
        margin: 0px 0px 0px 0px;
    }


.products {
    background-color: #c3c3c3;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.products h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;;
}

.products h2 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.products_image {
        height: 400px;
        width: 350px;
        margin: auto;
    }

.products_display {
    display: flex;
    flex-direction: row;
}

.products_display div {
    display: grid;
    justify-content: space-between;
    margin: 20px 20px;
    
}

.last_one {
    width: 50%;
}


.products_display p {
    font-weight: bolder;
    font-size: 2em;
}

footer section {
    display: grid;
  
}


header {
    grid-column: span 2;
}

footer {
    grid-column: span 2;
}


main section {
    columns: 100px 2;
    grid-template-columns: 1fr 1fr;
}



.box {
    width: 300px;
    height: 5vh;
    font-size: 1.5em;
    
}

.box_message {
    width: 300px;
    height: 50vh;
}

.box,
.box_message {
    border: 1px solid;
    border-radius: 4px;
    background-color: #D9D9D9;
}

main p {
    font-size: 1.5em;
    text-align: left;
    
}

.logos {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.logo_icon {
    height: 70px;
    width: 70px;
    justify-content: space-between;
}



/* HOME PAGE */

nav {
    text-align: center;
}


/* CHECKOUT PAGE */

.checkout_container img {
    height: 55vh;
    width: 300px;
    padding: 20px;
    margin: 30px;
    margin-top: 80px;
    
}

.checkout_container section {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }


/* CONTACT PAGE */
.contact_page h1 {
    grid-area: span 2;
}



.item {
    text-align: left;
    align-items: center;
    width: 20em;
    margin: 20px;
    height: 150vh;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    height: 150vh;
    width: 100%;
}

.succes p {
    padding: 20px;
    text-align: center;
}

.continue {
    padding: 10px 20px;
    font-size: 1em;
}

.about p {
    padding: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

footer a {
    text-decoration: none;
}


@media screen and (min-width: 600px) {
    nav {
        display: block;
        
    }

    header label {
        display: none;
    }

    .nav { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #259DB7;
        border: none;
        border-radius: 0 0 0 15px;
        text-align:center;
        padding: 0px 20px;
    }
    
nav ul {
        padding: 0px; 
        width:100%;
        margin: 20px;
        margin-bottom: 0px;
    }

.nav_home {
    background-color: #fff;
}
    
nav li {
        display: inline-block; 
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
        font-size: 1.5em;
        max-width: 100%;
    }

.logo {
        height: 70px;
        width: auto;
        margin: 30px;
        position: relative;
    }

.logo_home {
    height: 70vh;
}

.first_display img {
    height: 50vh;
}

.second_display img {
    height: 50vh;
}



.footer_mobile {
    display: none;
}

.footer_desktop {
        background-color: #259DB7;
        display: flex;
        justify-content: space-between;   
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-size: 1em;
        padding: 10px 15px;
        margin-top: 50px;
        border-radius: 15px 15px 0px 0px;
    }
    
footer div {
        margin-left: 20px;
        margin-right: 20px;
    }

.social_media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }



.sm_logo {
        height: 50px;  
    }
    
    
    .checkout_display div {
        margin: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .checkout_container section {
       display: flex;
       flex-direction: column;
    }
    
    .checkout_container {
      display: flex;
      justify-content: center;
    }
    
    .checkout_container p {
        font-family: "Playfair Display", Arial, Helvetica, sans-serif
    }
  
} 