@font-face {
    font-family: "Racing Sans One";
    src: url("../fonts/RacingSansOne-Regular.ttf") format("truetype");
}

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0px;
}

main {
    width: 100%;
}

.quote {
    font-family: "Racing Sans One";
    font-size: 2.5em;
}

nav {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.nav { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #259DB7;
        border: none;
        border-radius: 0 0 0 15px;
        text-align:center;
        padding: 0px 20px;
    }
    
nav ul {
        padding: 0px; 
        width:100%;
        margin: 20px;
    }
    
nav li {
        display: inline-block; 
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
        font-size: 1.5em;
        max-width: 100%;
    }
    
nav ul a {
        text-decoration: none;
    }
    

    
.active {
        text-decoration: underline;
    } 
    

.header_image {
    background-image: url("../images/homepage4-1.png");
    background-size: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    
    }

.logo_home { 
   height: 550px;
   width: 90%;
   margin: 0px 20px;
   padding: 5px 20px;
    }


#shopnow {
        font-size: 2em;
        font-family: "Raleway", Arial, Helvetica, sans-serif ;
        background-color: #259DB7;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        margin: 20px auto;
        
        
    }

.cta_button {
        padding: 10px 30px;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        margin: 20px;
    }

.display {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-between;
    }

.display_photos {
       max-width: 1200px;
       height: 300px;
       padding: 10px;
       
    }

.gray_area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0px;
        padding: 0px;
        background-color: #c3c3c3;
    }

.gray_area h2 {
        font-size: 3em;
        font-family: "Playfair Display", Arial, Helvetica, sans-serif;
        text-align: center;
    }


.gray_area_photo {
        max-height: 220px;
        margin: 50px;
        border-radius: 40px;
    }


 footer {
        background-color: #259DB7;
        display: flex;
        justify-content: space-between;   
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-size: 2em;
        padding: 10px 15px;
        margin-top: 50px;
        border-radius: 15px 15px 0px 0px;
    }
    
footer div {
        margin-left: 20px;
        margin-right: 20px;
    }

.social_media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }



.sm_logo {
        height: 50px;  
    }
    

.logo {
        height: 70px;
        width: auto;
        margin: 30px;
        position: relative;
    }

.nav_around {
        display: flex;
        max-width: 100%;
        justify-content: stretch;
       
    }

  
    #submit {
        padding: 10px 40px;
        border: none;
        border-radius: 15px;
        margin: 0px 10px 0px 160px;
        font-size: 1em ;
        font-family: "Raleway";
    }
    
    #newsletter__email {
        width: 350px;
        height: 40px;
        font-size: 0.8em;
        margin: 0px 0px 0px 0px;
    }


.cta_button {
    background-color: #259DB7;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px;
}

.cart {
    margin: auto;
}

.send {
    padding: 10px 30px;
    font-size: 1em;
}

.payment {
    padding: 10px 30px;
    font-size: 1em;
}


body a {
    color: #000000;
}

button a {
    text-decoration: none;
    color: #fff;
}
  

.products {
    background-color: #c3c3c3;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.products h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;;
}

.products h2 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.products_image {
        height: 400px;
        width: 350px;
        margin: auto;
    }

.products_display {
    display: flex;
    flex-direction: row;
}

.products_display div {
    display: grid;
    justify-content: space-between;
    margin: 20px 20px;
    
}

.last_one {
    width: 50%;
}


.products_display p {
    font-weight: bolder;
    font-size: 2em;
}

footer section {
    display: grid;
  
}


header {
    grid-column: span 2;
}

footer {
    grid-column: span 2;
}


main section {
    columns: 100px 2;
    grid-template-columns: 1fr 1fr;
}



.box {
    width: 300px;
    height: 5vh;
    font-size: 1.5em;
    
}

.box_message {
    width: 300px;
    height: 50vh;
}

.box,
.box_message {
    border: 1px solid;
    border-radius: 4px;
    background-color: #D9D9D9;
}

main p {
    font-size: 1.5em;
    text-align: left;
    
}

.logos {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.logo_icon {
    height: 70px;
    width: 70px;
    justify-content: space-between;
}



/* HOME PAGE */

nav {
    text-align: center;
}


/* CHECKOUT PAGE */

.checkout_container img {
    height: 80vh;
    width: 500px;
    padding: 20px;
    margin: 30px;
    margin-top: 80px;
    
}

.checkout_display div {
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.checkout_container section {
   display: flex;
   flex-direction: column;
}

.checkout_container {
  display: flex;
  justify-content: center;
}

.checkout_container p {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif
}



.contact_page h1 {
    grid-area: span 2;
}



.item {
    text-align: left;
    align-items: center;
    width: 20em;
    margin: 20px;
    height: 150vh;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    height: 150vh;
    width: 100%;
}

.succes p {
    padding: 20px;
    text-align: center;
}

.continue {
    padding: 10px 20px;
    font-size: 1em;
}

.about p {
    padding: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

footer a {
    text-decoration: none;
}
